<div class="container">
    <h2>
        Add Reviews
        <span class="pull-right">
            <% if(user!==undefined) { %>
                <a href="/add-review">Add Reviews</a> |
                <a href="/auth/logout">Logout</a>
            <% } else { %>
                <a href="/auth/login">Login</a>
            <% } %>
        </span>
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Rating</th>
                <th>User</th>
                <th>Review</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(var x=0; x<results.length; x++) { %>
                <tr>
                    <td>
                        <% for (var y=0; y<results[x].rating; y++) { %>
                            <!--<img style="height:20px;" src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/07_star-128.png" />-->
                            <span class="fa fa-star"></span>
                        <% } %>
                    </td>
					<td><%= results[x].user %></td>
                    <td><%= results[x].review %></td>
                    <td>
                        <% if(user!==undefined) { %>
                            <a href="/edit-review/<%= results[x]._id %>" class="btn btn-warning btn-xs"><span class="fa fa-pencil"></span> Edit</a>
                            <a href="/delete-review/<%= results[x]._id %>" onclick="return confirm('Are you sure you want to delete this review?')" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span> Delete</a>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
