<div class="container">
    <h2>
        Add Review
        <span class="pull-right">
            <a href="/all-reviews">All Reviews</a> |
            <% if(user!==undefined) { %>
                <a href="/auth/logout">Logout</a>
            <% } else { %>
                <a href="/auth/login">Login</a>
            <% } %>
        </span>
    </h2>
    <form method="POST" action="/edit-review/<%=result._id%>">
        <div class="form-group">
            <label>Rating</label>
            <select name="rating" class="form-control">
                <% for (var z=1; z<=5; z++) { %>
                    <% if (z==result.rating) { %>
                        <option selected value="<%= z %>"> <% for (var a=1; a<=z; a++) { %> ★ <% } %> </option>
                    <% } else {%>
                        <option value="<%= z %>"> <% for (var a=1; a<=z; a++) { %> ★ <% } %> </option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label>Review</label>
            <textarea name="review" class="form-control" style="resize:none;" rows="5"><%= result.review%></textarea>
        </div>
        <button class="btn btn-success btn-block">Submit</button>
    </form>
</div>
