<div class="container">
    <h2>
        Login
        <span class="pull-right">
            <a href="/all-reviews">All Reviews</a>
        </span>
    </h2>
    <a href="/auth/google" class="btn btn-danger btn-block"><span class="fa fa-google-plus"></span> Login Via Google+</a>
</div>
