<div class="container">
    <h2>
        Unauthorized
        <span class="pull-right">
            <a href="/all-reviews">All Reviews</a> |
            <a href="/auth/login">Login</a>
        </span>
    </h2>
    <div class="alert alert-danger">You are not authorized to view this page.</div>
</div>
