<div class="container">
    <h2>
        Hello <%=user.google.name%>
        <span class="pull-right">
            <a href="/all-reviews">All Reviews</a> |
            <a href="/auth/logout">Logout</a>
        </span>
    </h2>
    <div>Email: <%=user.google.email%></div>
</div>
